body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 164, 164);
}

/* global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden; 
}

header ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 26px;
    background: rgb(209, 9, 9);
    border: 0;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(230, 230, 230);

}

.dark{
    padding: 15px;
    background: rgb(138, 135, 135);
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* header */
header{
    background: rgb(0, 0, 204);
    color: rgb(230, 230, 230);
    padding-top: 35px;
    min-height: 70px;
    border-bottom: black 2px solid;
}

header a{
    color: rgb(230, 230, 230);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

header li{
    float: left;
    display: inline;
    padding-left: 5px;
    padding-right: 90px;
    padding: 7px;
}

header #branding{
    float: left;       
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 30px;
}

header .highlight{
    color: black;
    font-weight: bold;
}

header .current a{
    color: red;
}

header a:hover{
    color: rgb(209, 9, 9);
    font-weight: bold;
}

/* showcase */
#showcase{
    min-height: 300px;
    background: url(./images/alexander-andrews-jNKv4QohAk0-unsplash.jpg) no-repeat -0.50px -1100px;
    text-align: center;
    color: white;
}

#showcase h1{
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 15px;
}

#showcase p{
    font-size: 15px;
}

/*newsletter*/
#newsletter{
    padding: 10px;
    color: rgb(230, 230, 230);
    background: rgb(0, 0, 204);
    border-top:black 2px solid;
}

#newsletter h1{
    float: left;
    font-size: 20px;
}

#newletter form{
    float: right;
    margin-top: 10px;
}

#newsletter input[type="email"]{
    padding: 4px;
    margin-top: 18px;
    margin-left: 35px;
    height: 15px;
    width: 30%;
    text-align: center;
}

/*boxes*/
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 45%;
    padding: 10px;
}

#boxes .box img{
    width: 200px;
}

/*sidebar*/
aside#sidebar{
    float: right; 
    width: 30%;
    margin-top: 10px;
    text-align: center;
}

aside#sidebar .enroll input, aside#sidebar .enroll textarea{
    width: 90pxpx;
    padding: 5px;
    background: rgb(230, 230, 230);
    margin-bottom: 5px;
    background: rgb(230, 230, 230);
    text-align: center;
}

form.enroll{
    background: rgb(138, 135, 135);
    padding: 15px;
    margin: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
}

/*main-col*/
article#main-col{
    float: left;
    width: 65%;
}

/*services*/
ul#services li{
    list-style: none;
    padding: 15px;
    border: rgb(211, 202, 202) 2px;
    margin-bottom: 5px;
    background: rgb(138, 135, 135);
}


/*footer*/
footer{
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(209, 9, 9);
    color: rgb(230, 230, 230);
    text-align: center;
}

/*media queries*/
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width:100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsletter .button_1, .enroll .button_1{
        display: block;
        width: 100px;
    }

    #newsletter form input[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }


}
